* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    overflow: auto;
}

.border:hover {
    border: 2px solid white;
    padding: 2px;
}

.nav-panel {
    background-color: #03045e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 80px;
    font-size: 14px;
}

.nav-panel a {
    color: white;
}

.nav-panel i{
    height: 60px;
    width: 60px;
    background-color: rgb(74, 135, 228);
}

.logo {
    height: 50px;
    width: 100px;
    padding: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.go {
    font-size: 14px;
    font-weight: 500;
}

.finsmart {
    font-size: 16px;
    font-weight: 700px;
}

.box {
    margin-left: 20px;
}

main {
    flex: 1;
    background-color: #caf0f8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    height: 50px;
    background-color: #03045e;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

footer:hover{
    background-color: #2b2c66;
}

.form-box {
    background-color: #00b4d8;
    height: 50%;
    width: 50%;
    border: 40px solid #0077b6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner-form-box{
    height: 70%;
    width: 70%;
    background-color: #90e0ef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: black;
    color: white;
    height: 25px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
}

.btn:hover{
    background-color: #0077b6;
    color: black;
    border: 2px solid black;
}

form{
    display: inline-grid;
    justify-content: center;
    align-items: center;
    gap: 20px 30px;
    grid-template-columns: 50px 230px;
    font-weight: 500;
    padding: 2px;
}

h3{
    margin-bottom: 15px;
    margin-top: 30px;
    text-align: center;
}

table{
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

tr, th{
    background-color: #023047;
    color: white;
    border-bottom: 1px solid #ddd;
    padding: 4px;
}

td{
    padding: 1px;
}

tr:nth-child(odd){
    background-color: #8ecae6;
    color: black;
}

.fin-msg{
    color: black;
    font-size: 16px;
    margin: 10px;
}

.view:hover{
    color: #0077b6;
}

img{
    margin: 10px 15px;
}

.chart{
    display: inline-grid;
    grid-template-columns: auto auto;
}

