<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{% block title %}
        Base
        {% endblock %}</title>
</head>

<body>
    <header>
        <div class="nav-panel">
            <div class="logo border">
                <span class="go">Go</span>
                <span class="finsmart">FinSmart</span>
            </div>

            <div class="box border"><a href="{{url_for('login.signup')}}">New user?<br>Register here!</a></div>
            <div class="box border"><a href="{{url_for('login.login')}}">Already registerd?<br>Login here!</a></div>
            <div class="box border"><a href="{{url_for('login.logout')}}">Logout</a></div>
             
        </div>
    </header>

    <main>
        {% with messages=get_flashed_messages(with_categories=True) %}
        {% for category, msg in messages %}
        {% if category == "success" %}
        <div style="background-color: rgb(29, 202, 13, 0.5); height: 40px; font-size: 14px; position: absolute; top: 90px; width: 100%; padding-left: 5px; margin-bottom: 20px;">{{msg}}</div>
        {% else %}
        <div style="background-color: rgb(240, 62, 62, 0.5); height: 40px; font-size: 14px; position: absolute; top: 90px; width: 100%; padding-left: 5px; margin-bottom: 20px;">{{msg}}</div>
        {% endif %}
        {% endfor %}
        {% endwith %}

        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <div class="foot-panel">
            This is your go to app to make you financially smart!
        </div>
    </footer>

</body>

</html>