{% extends "base.html" %}

{% block title %}
View your finances
{% endblock %}

{% block content %}


<h3>Add your finances here!</h3>
<div class="form-box">
    <div class="inner-form-box">
        <form action="{{url_for('fin.view_fin')}}" method="POST">
            {{form.csrf_token}}
            {{form.amount.label}} {{form.amount}}
            {{form.type.label}} {{form.type}}
            {{form.category.label}} {{form.category}}
            {{form.submit(class="btn")}}
        </form>
    </div>
</div>

{% if details %}
<table>
    <thead>
        <tr>
            <th>FinDetail</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        {% for detail in details %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{detail.amount}}</td>
            <td>{{detail.type}}</td>
            <td>{{detail.category}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>
<h6><a href="{{url_for('fin.view_chart')}}" class="fin-msg view">Visualize your finances here!</a></h6>
{% else %}
<p class="fin-msg">No FinDetails added yet. Add one above!</p>
{% endif %}


{% endblock %}